body {
background: gray;
border: 5px solid green;

height: 100vh;

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

header {
display: flex;
justify-content: center;
align-items: center;
border: 2px solid red;
}


.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 2px solid yellow
}